%div.col-md-6
  %h3= t('.all_teams')
  %table.table
    %thead
      %tr
        %th= t('.name')
        %th= t('.assign_to_current_tournament')
    %tbody
      - all_teams.each do |team|
        %tr
          %td= team.name
          %td
            - if tournament.space_for_team?(team)
              = button_to t('.assign_to_current_tournament'), tournament_teams_path(tournament), method: :patch, params: { team: { "team_id" => team.id, "tournament_id" => tournament.id } }
