%div
  = render 'form', new_tournament: @new_tournament

  %div.col-md-10
    %h3= t('.tournaments')
    %table.table
      %thead
        %tr
          %th= t('.name')
          %th= t('.status')
          %th= t('.winner')
          %th= t('.finalist')
          %th= t('.show')

      %tbody
        - tournaments.each do |tournament|
          %tr
            %td= tournament.name
            %td= tournament.status
            %td
            %td
            %td= link_to t('.show'), tournament_path(tournament)
