%h1 Tournaments#index
%p Find me in app/views/tournaments/index.html.haml

%table.table
  %thead
    %tr
      %th= t('.name')
      %th= t('.status')
      %th= t('.winner')
      %th= t('.finalist')
  %tbody
    - tournaments.each do |tournament|
      %tr
        %td= tournament.name
        %td= tournament.status
