%div
  %div.col-md-10
    %h3= t('.tournament', name: tournament.name)

    = render 'teams/create_form', new_team: @new_team
    = render 'teams/random_create_form', new_team: @new_team
    = render 'tournament_teams'
    = render 'teams'
